/*--------------------------------------- 
                    Game Info 
------------------------------------------*/

.game-info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3% 0;
  color: var(--text);
}

/*--------------------------------------- 
                    Game mainSection    
------------------------------------------*/

.game-mainSection {
  display: flex;
}

.game-computer,
.game,
.vs {
  width: calc(100vw / 3);
}

/*------------- Game ----------------*/

.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  gap: 10%;
}

.game-rock,
.game-paper,
.game-scissors {
  width: 30%;
  height: auto;
  transition: transform 500ms ease-in-out;
}

.game-rock :hover,
.game-paper :hover,
.game-scissors :hover {
  cursor: pointer;
}

.game img {
  width: 100%;
}

.game-choice {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.game-paper {
  margin-top: -15vh;
}

.game-rock,
.game-scissors {
  margin-top: 15vh;
}

/*------------- Vs ----------------*/

.vs {
  display: flex;
  justify-content: center;
  align-items: center;
}
.vs img {
  height: 45vh;
}
/*------------- Game computer ----------------*/

.game-computer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loading {
  margin-top: 30%;
}
