.game-info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3%;
  color: var(--text);
}

.game {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  gap: 10%;
}

.game-rock,
.game-paper,
.game-scissors {
  width: 15%;
  height: auto;
  transition: transform 500ms ease-in-out;
}

.game-rock :hover,
.game-paper :hover,
.game-scissors :hover {
  cursor: pointer;
}

.game img {
  width: 100%;
}

.game-rock,
.game-scissors {
  margin-top: 25vh;
}

.game-select {
}

.game-unselect {
  right: -50%;
}
