.headerSizeLogout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: #6A994E;
    height: 200px;
}

.headerSizeLogin {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #C5DCA0;
    height: 400px;
}

.inputHeader {
    margin: 0.5%;
    height: 30px;
}

.buttonHeader {
    height: 30px;
    margin: 0.5%;
}