.scoreContent {
    display: flex;
    justify-content: center;
    background-color: #c5dca0;
    width: 100%;
  }
  
  .scoreContent div {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 15%;
  }
  